body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #f41212;
}
.heading{
    color: #2196F3;
    font-size: larger;
    
}

#calculatorModal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-card {
    background-color: #454141;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display {
    font-size: 48px; 
    margin-bottom: 20px; 
    padding: 15px;
    border: 2px solid #ccc; 
    border-radius: 10px;
    background-color: #e3e560;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; 
}

.button {
    flex: 1;
    padding: 20px; 
    font-size: 24px; 
    cursor: pointer;
}

.number {
    background-color: #4CAF50;
    color: #fff;
}

.operator {
    background-color: #f44336;
    color: #fff;
}

.clear {
    background-color: #2196F3;
    color: #fff;
}
